<div class="container">
<div class="row">
<!-- Blog Entries Column -->
        <div class="col-md-8">
          <h1 class="my-4">Articles</h1>
          <!-- Blog Posts -->
          <%= render 'articles/articleslist' %>
          <!-- Pagination -->
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
          <%= render 'articles/sidebar' %>

          

        </div>
        </div>


</div>

