    <div class="row">
		<div class="col-md-12 text-center fh5co-heading animate-box">
			<span>Nuestros Recuerdos</span>
			<h2><%= @album.name %></h2>
		</div>
	</div>
	<div class="row">
        <ul id="fh5co-gallery-list">
            <% @album.photos.each_with_index do |photo, idx| %>
    			<li class="gallery one-third animate-box fadeIn animated-fast" data-animate-effect="fadeIn" style="background-image: url(<%= photo.image_url(:thumbnail).to_s %>); "> 
                    <a href="<%= photo.image_url(:thumbnail).to_s %>">
        				<div class="case-studies-summary">
        					<h2><%= photo.title %></h2>
        				</div>
        			</a>
        		</li>
            <% end %>
        </ul>
	</div>