<div class="action_items">
            <span class="action_item"><a href="/admin/invitations/2/edit">Administrar Invitación</a></span>
            <span class="action_item"><a data-confirm="¿Está seguro de que quiere eliminar esto?" rel="nofollow" data-method="delete" href="/admin/invitations/2">Eliminar Invitation</a></span>
          </div>
