<table>
    <%= @results.each do |result| %>
      <tr>
        <td>
          <%= result["timestamp"] %>
        </td>
        <td>
          <%= result["event"] %>
        </td>
        <td>
          <%= result["message"]["headers"]["recipient"] %>
        </td>
      </tr>
    <% end %>
</table>