<table>
    <%= @results.each do |result| %>
      <tr>
        <td>
          <%= result.["event"] %>
        </td>
        <td>
          <%= result.["message"]["headers"]["message-id"] %>
        </td>
      </tr>
    <% end %>
</table>