<table>
    <%= @results.each do |result| %>
      <tr>
        <td>
          <%= Time.at(result["timestamp"]) %>
        </td>
        <td>
          <%= result["event"] %>
        </td>
        <td>
          <%= result["recipient"] %>
        </td>
      </tr>
    <% end %>
</table>