<table>
    <% @results.each do |value, result| %>
      <tr>
        <td>
            <% result.each do |value, result| %>
              <tr>
                <td><%= value.to_s %></td>
                <td>
                    <% result.each do |value, result| %>
                      <tr>
                        <td><%= value.to_s %></td>
                        <td><%= result.to_s %></td>
                      </tr>
                    <% end %>
                </td>
              </tr>
            <% end %>
        </td>
      </tr>
    <% end %>
</table>