<% @categories.each do |c| %>
                <div class="card my-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title"><%= c.title %></h2>
              <p class="card-text"><%= c.body %></p>
              <%= link_to('Ver Publicaciones', c, class: "btn btn-primary") %>        

            </div>
          </div>
          <% end %>