<div class="card-body">
                <ul class="list-unstyled mb-0">
                  <div class="row">
                    <% @categories.each do |c| %>
                    <li class="col-sm-6">
                      <%= link_to(c.title, c) %>      
                    </li>
                    <% end %>
                  </div>
                </ul>
            </div>